<!DOCTYPE html>
<html>
<head>
  <title>Translator</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="main">
  <%= render 'layouts/header'%>
  <div id="site_content">    
    <%= render 'layouts/auth_form'%>
    <div class="notices"> 
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
    </div>
    <%= render 'layouts/footer'%>
</div>
</body>
</html>
